
@font-face {
    font-family: Delicious;
    src: url('HacenCasablanca.ttf');
}
.imgmenu0{
 -fx-image:url("img/logo.png");
 }
 .imgmenu1{
 -fx-image:url("icon/01.png");
 }
.imgmenu2{
-fx-image:url("icon/02.png");
}
.imgmenu3{
-fx-image:url("icon/03.png");
}
.imgmenu4{
-fx-image:url("icon/04.png");
}
.imgmenu5{
-fx-image:url("icon/05.png");
}
.imgmenu6{
-fx-image:url("icon/06.png");
}
.imgmenu7{
-fx-image:url("icon/07.png");
}
.imgmenu8{
-fx-image:url("icon/08.png");
}
.imgmenu9{
-fx-image:url("icon/09.png");
}
.imgmenu10{
-fx-image:url("icon/010.png");
}
.imgmenu11{
-fx-image:url("icon/011.png");
}
.imgmenu12{
-fx-image:url("icon/012.png");
}
.imgmenu13{
-fx-image:url("icon/013.png");
}

.avatar{
-fx-image:url("icon/avatar.png");
}
.settings{
-fx-image:url("icon/monitor.png");
}

.download{
-fx-image:url("icon/download.png");
}

.upload{
-fx-image:url("icon/upload.png");
}



.titrelabel{
-fx-text-fill: white;
-fx-font-size:16px;
-fx-font-weight:bold;
-fx-font-family:Delicious,andalus;

}

.label1{

 /*-fx-background-color:#009688;*/

}

.titrelabel:hover{
-fx-border-style: solid ;
 -fx-border-color:#BDBDBD;
 -fx-border-width:4px;

}

.button1{
-fx-background-color:#f18817;
-fx-border-style: solid ;
-fx-font-size:14px;
-fx-text-fill: #313232;
-fx-font-weight:bold;
-fx-border-color: white ;
-fx-border-width:2px;

}

.button1:hover{
-fx-background-color:white;
-fx-text-fill: #f18817;
}

.logofooter{
-fx-image:url('img/Bleu.png');
}

.textField{
-fx-border-radius:  10px;
-fx-text-fill:white;
-fx-prompt-text-fill:white ;
-fx-background-color:#009688;
-fx-background-radius: 10px;
-fx-border-style: solid;
-fx-border-color: white;
-fx-border-width:2px;
 -fx-background-image:url('icon/Toolbar-Browser-Search-icon.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: right center;
  -fx-font-size: 14;
}



#imgbtnadd{
-fx-image:url('icon/page-add-icon.png');

}

#imgbtnedit{
-fx-image:url('icon/Action-edit-icon.png');

}

#imgbtndelete{
-fx-image:url('icon/blog-post-delete-icon.png');

}

#imgbtnprint{
-fx-image:url('icon/Apps-printer-icon.png');

}

.minimizar,
.close {
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
    -fx-cursor: hand;
}

.minimizar:hover,
.minimizar:selected,
.close:hover,
.close:selected {
    -fx-opacity: 0.8;
}

.close {
    -fx-graphic: url("icon/fechar.png");
}

.minimizar {
    -fx-graphic: url("icon/minimizar.png");
}





.table-view{
   -fx-background-color: #f18817;
}

.table-view:focused{
    -fx-background-color: #f18817;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color:  #f18817
}

.table-view .column-header-background .label{
    -fx-background-color: #f18817;
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: #f18817;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #B2DFDB;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #E0F2F1
;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #64B5F6
;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}



